.list b {
    color: black;
}

.list-table-format {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border: 1px solid rgb(128, 128, 128);
    font-size: 15px;
    background-color: white;
    
}

.list-table-format p {
    color: rgb(0, 0, 0);
}

.title {
    background-color: rgb(255, 165, 0);
    border-radius: 5px 5px 0px 0px;
}

/* Item list CSS... */

.list-table-format img {
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width:600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .list-table-format .title {
        display: none;
    }
}